[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "vim/bundle/vim-dm-syntax"]
	path = vim/bundle/vim-dm-syntax
	url = https://github.com/wlue/vim-dm-syntax
