### /home/coiax/.gitignore-boilerplates/Global/vim.gitignore

.*.sw[a-z]
*.un~
Session.vim


### /home/coiax/.gitignore-boilerplates/Global/Emacs.gitignore

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive


### /home/coiax/.gitignore-boilerplates/Global/Linux.gitignore

.*
!.gitignore
*~

# KDE
.directory


